<main class="container" >
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0 " style="margin: auto; background-color: lightgray;">
            <h2 >Welcome to Categories</h2>
          <div class="card" >
            <div class="card-body border-bottom" *ngFor="let category of CATEGORIES">
              <h5 class="card-title">Available Categories</h5>
              <p class="card-text">Category Name: {{ category.categoryName }}</p>

              <button class="btn btn-success m-2 " (click)="selectCategory(category)">Edit</button>
              <button class="btn btn-success ">Delete</button>
            </div>
          </div>
          <h3> Change Category Name: -</h3>
          <section class="col-lg-6 mt-4">
            <form (ngSubmit)="_id ? updateCategory() : addCategory()">
                <fieldset class="form-group">
                    <label for="category" class="control-label">Category Name</label>
                    <input required [(ngModel)]="categoryName" name="categoryName" class="form-control" />
                </fieldset>

                <input [(ngModel)]="_id" name="_id" type="hidden" />

                <div class="mt-3">
                    <button type="submit" class="btn btn-success ">
                        {{ _id ? 'Update Transaction' : 'Save Transaction' }}
                    </button>
                    <button type="button" class="btn btn-success m-2" (click)="clearForm()">Reset</button>
                </div>
            </form>
        </section>
        </div>
        
    </div>

    <div class="container-second" style="margin: auto;">
       
    </div>
</main>
